{# FOOTER #}
<footer class="footer position-relative">
    <div style="z-index:1;" class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg mb-4 mb-lg-0">
                <a aria-label="Navigate to home page" href="{{ url('/') }}">
                    {% if this.theme.global_footer_logo.extension == 'svg' %}
                        <img 
                            class="mb-3"
                            src="{{ this.theme.global_footer_logo.path }}"
                            height="29"
                            loading="lazy"
                            alt="{{ this.theme.global_footer_logo.description }}">
                    {% else %}
                         <img 
                            class="mb-3"
                            src="{{ this.theme.global_footer_logo.path|resize(auto, 29) }}"
                            srcset="{{ this.theme.global_footer_logo.path|resize(auto, 29) }} 1x,
                                    {{ this.theme.global_footer_logo.path|resize(auto, 58) }} 2x"
                            height="29"
                            loading="lazy"
                            alt="{{ this.theme.global_footer_logo.description }}">
                    {% endif %}
                </a>
                <p class="footer__statement">{{ this.theme.global_company_statement|nl2br }}</p>
                {% if this.theme.global_social_repeater|length > 0 %}
                    <div>
                        <ul class="list-inline mb-0">
                            {% for item in this.theme.global_social_repeater %}
                                <li class="list-inline-item">
                                    <a 
                                        class="footer__social-link corner-shape-sm"
                                        href="{{ item.link }}"
                                        aria-label="{{ item.label }}"
                                        target="_blank"
                                        rel="noopener noreferrer">
                                            <i class="{{ item.channel }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-5 col-lg mb-4 mb-lg-0">
                <h3 class="mb-3">Contact</h3>
                <ul class="list-unstyled mb-0">
                    {% if this.theme.global_address %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-map-marker-alt"></i>
                            <div class="ml-2">
                                {{ this.theme.global_address|nl2br }}
                            </div>
                        </li>
                    {% endif %}
                    {% if this.theme.global_working_hours %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-clock"></i>
                            <div class="ml-2">
                                {{ this.theme.global_working_hours|nl2br }}
                            </div>
                        </li>
                    {% endif %}
                    {% if this.theme.global_map_search_parameters %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-directions"></i>
                            <div class="ml-2 text-truncate">
                                <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/search/?api=1&amp;query={{ this.theme.global_map_search_parameters }}">
                                    Get Directions
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    {% if this.theme.global_phone %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-phone-alt"></i>
                            <div class="ml-2 text-truncate">
                                <a href="tel:{{ this.theme.global_phone }}">{{ this.theme.global_phone }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if this.theme.global_mobile %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-mobile-alt"></i>
                            <div class="ml-2 text-truncate">
                                <a href="tel:{{ this.theme.global_mobile }}">{{ this.theme.global_mobile }}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if this.theme.global_fax %}
                        <li class="d-flex">
                            <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-fax"></i>
                            <div class="ml-2 text-truncate">
                                <a href="tel:{{ this.theme.global_fax }}">{{ this.theme.global_fax }}</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="d-flex">
                        <i style="line-height:1.6;" class="flex-shrink-0 fa-fw fas fa-envelope"></i>
                        <div class="ml-2 text-truncate">
                            <a href="mailto:{{ this.theme.global_email }}">{{ this.theme.global_email }}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-3 col-lg mb-4 mb-lg-0">
                <h3 class="mb-3">Navigate</h3>
                <ul class="list-unstyled mb-0">
                    <li><a href="{{ 'blog'|page }}">Blog</a></li>
                    <li><a href="{{ 'privacy-policy'|page }}">Privacy Policy</a></li>
                    <li><a href="{{ 'page-not-found-404'|page }}">Page not found (404)</a></li>
                    <li><a href="{{ 'error-500'|page }}">Error (500)</a></li>
                    <li><a href="{{ 'maintenance'|page }}">Maintenance</a></li>
                    <li><a href="{{ 'search-results'|page }}">Search results</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg">
                <h3 class="mb-3">{{ this.theme.global_subscribe_title }}</h3>
                <p>{{ this.theme.global_subscribe_message|nl2br }}</p>
                {% component 'newsletterForm' %}
            </div>
        </div>
        <hr style="background-color:rgba(255,255,255,0.30);" class="my-4">
        <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
            <div>
                <small class="footer__copy-left">© {{ 'now' | date('Y') }} {{ this.theme.global_site_name }}. All rights reserved.</small>
            </div>
            <div>
                <small class="footer__copy-right">Rapido theme by <a href="https://www.msof.me/" target="_blank" rel="noopener noreferrer">Marios Sofokleous</a></small>
            </div>
        </div>
    </div>
    <figure class="footer-figure">
        <img class="img-fluid" src="{{ 'assets/images/isometric-squares.svg'|theme }}" loading="lazy" alt="...">
    </figure>
</footer>