{% set name = this.theme.global_site_name|url_encode %}
{% set icon_192 = this.theme.icons_icon_png.thumb(192,auto)|url_encode %}
{% set icon_512 = this.theme.icons_icon_png.thumb(512,auto)|url_encode %}
{% set data_url = 'data:application/manifest+json,'~'{"name":"'|url_encode~name~'","short_name":"'|url_encode~name~'","icons":[{"src":"'|url_encode~icon_192~'","type":"image/png","sizes":"192x192"},{"src":"'|url_encode~icon_512~'","type":"image/png","sizes":"512x512"}]}'|url_encode %}

<head>
    {# ESSENTIAL #}
    <title>{% if this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.page.title ~ ' | ' ~ this.theme.global_site_name }}{% endif %}</title>
    <meta charset="utf-8">
    {% if this.page.baseFileName == 'page-not-found-404' or this.page.baseFileName == 'error-500' or this.page.baseFileName == 'maintenance' or this.page.baseFileName == 'search-results'  %}
        <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Marios Sofokleous">
    <meta name="description" content="{% if this.page.meta_description %}{{ this.page.meta_description }}{% else %}{{ this.page.description }}{% endif %}">
    <meta name="theme-color" content="{{ this.theme.theming_meta_theme_color }}">
    
    {# OPEN GRAPH #}
    <meta property="og:title" content="{% if this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.page.title }}{% endif %}">
    <meta property="og:description" content="{% if this.page.meta_description %}{{ this.page.meta_description }}{% else %}{{ this.page.description }}{% endif %}">
    {% if this.page.baseFileName == 'post' %}
        {% set featured_image = post.featured_images.first.path %}
        <meta property="og:image" content="{% if featured_image %}{{ featured_image }}{% else %}{{ 'assets/images/theme-preview.png'|theme }}{% endif %}">
        <meta property="og:type" content="article">
    {% else %}
        <meta property="og:image" content="{{ 'assets/images/theme-preview.png'|theme }}">
        <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:url" content="{{ ''|page }}">
    <meta property="og:global_site_name" content="{{ this.theme.global_site_name }}">

    {# GOOGLE ANALYTICS (GLOBAL SITE TAG) #}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ this.theme.global_analytics_id }}"></script>
    
    {# GOOGLE FONTS LINK #}
    {% if this.theme.theming_google_fonts_enable == 1 %}
        {{ this.theme.theming_google_fonts_link|raw }}
    {% endif %}

    {# CSS #}
    {% styles %}
    
    {# FAVICON AND APP ICONS #}
    {# 32×32 #}
    <link rel="icon" href="{{ this.theme.icons_favicon.path }}">
    <link rel="icon" href="{{ this.theme.icons_icon_svg.path }}" type="image/svg+xml">
    {# 180×180 #}
    <link rel="apple-touch-icon" href="{{ this.theme.icons_icon_png.thumb(180,auto) }}">
    <link rel="manifest" href="{{data_url}}" />
</head>