// About
// =============================================================================

.facts {
    z-index: 1;
    position: relative;
    /*
    @include padding-top(3rem);
    @include padding-bottom(3rem);
    @include margin-top(3rem);
    */
    padding-top: 4.5vh;
    padding-bottom: 4.5vh;
    margin-top: 4.5vh;
    [class^='col-']:not(:first-child) {
        border-left: 1px solid #dee2e6;
    }
    @media (max-width: 767.98px) {
        [class^='col-'] {
            &:not(:last-child) {
                // @include margin-bottom(3rem);
                margin-bottom: 4.5vh;
            }
            &:not(:first-child) {
                border: none;
            }
        }
    }
}

.fact {
    text-align: center;
    &__number {
        @include font-size(4.5rem);
        font-family: $font-family-base;
        font-weight: 300;
        line-height: 1;
        color: $primary;
    }
}