.clients {
    padding-top: #{'min(12vh, 128px)'};
    padding-bottom: #{'min(24vh, 256px)'};
    &-slideshow {
        img {
            filter: grayscale(100%);
            opacity: 0.5;
            transition: filter .15s ease-in-out, opacity .15s ease-in-out;
            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

.clients-carousel {
    touch-action: manipulation; 
}