// FAQs
// =============================================================================

.faq {
    &__icon {
        color: $primary;
        line-height: 1.6;
        @include font-size(1.5rem);
    }
    &__btn {
        position: relative;
        text-transform: none;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:focus, &:active {
            box-shadow: none !important;
        }
    }
    &__ans {
        max-width: 800px;
    }
}