// Global
// =============================================================================

body {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
    overflow-x: hidden;
    @include font-size(1rem);
}

h1 {
    font-weight: $headings-font-weight;
    line-height: 1.2;
    @include font-size(3.5rem);
}

h2 {
    font-weight: $headings-font-weight;
    line-height: 1.4;
    @include font-size(1.875rem);
}

h3 {
    font-weight: $headings-font-weight;
    line-height: 1.4;
    @include font-size(1.3125rem);
}

h4 {
    font-weight: $headings-font-weight;
    line-height: 1.4;
    @include font-size(1.125rem);
}

p {
    margin-bottom: 1rem;
}

.h1 {
    line-height: 1.2;
    @include font-size(3.5rem);
}

.h3 {
    line-height: 1.4;
    @include font-size(1.3125rem);
}

.font {
    &-light {
        font-weight: 300;
    }
    &-heading {
        font-family: $headings-font-family;
    }
    &-base {
        font-family: $font-family-base;
    }
    &-small {
        font-size: 14px;
    }
}

.link-no-underline {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.corner-shape {
    border-radius: $corner-radius;
    &-sm {
        border-radius: $corner-radius-sm;
    }
    &-lg {
        border-radius: $corner-radius-lg;
    }
}

.btn {
    text-transform: uppercase;
    @include font-size(1rem);
}

.nav-link {
    &:hover {
        text-decoration: underline;
    }
    &.active {
        color: $primary;
    }
}

.section {
    &__preheading {
        @include font-size(1rem);
        font-family: $font-family-base;
        font-weight: 300;
        color: $primary;
        position: relative;
        display: inline-block;
        left: 24px;
        &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 1px;
            background-color: $primary;
            position: absolute;
            top: 50%;
            left: -24px;
        }
    }
}

.space {
    &-py-8 {
        padding-top: #{"clamp(4rem, 2.5455rem + 7.2727vw, 8rem)"};
        padding-bottom: #{"clamp(4rem, 2.5455rem + 7.2727vw, 8rem)"};
    }
    &-py-4 {
        padding-top: #{"clamp(2rem, 1.2727rem + 3.6364vw, 4rem)"};
        padding-bottom: #{"clamp(2rem, 1.2727rem + 3.6364vw, 4rem)"};
    }
    &-p-4 {
        padding: #{"clamp(2rem, 1.2727rem + 3.6364vw, 4rem)"};
    }
    &-mb-3 {
        margin-bottom: #{"clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem)"};
    }
    &-mb-4 {
        margin-bottom: #{"clamp(2rem, 1.2727rem + 3.6364vw, 4rem)"};
    }
    &-mb-1 {
        margin-bottom: 1rem;
    }
    &-mb-md-0 {
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

.max-width-800 {
    max-width: 800px;
}

.elevation {
    &-0dp {
        transition: box-shadow .25s ease, opacity .4s ease, transform .4s ease !important;
        box-shadow: 0 0 0 1px $border-color;
        &:hover, &:focus {
            box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
        }
    }
    &-1dp {
        transition: box-shadow .25s ease, opacity .4s ease, transform .4s ease !important;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
        &:hover, &:focus {
            box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
        }
    }
}

.lead {
    @include font-size(1.25rem);
    font-weight: 300;
    line-height: 1.6;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.image-grayscale {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter .15s ease-in-out, opacity .15s ease-in-out;
    &:hover {
        filter: grayscale(0);
        opacity: 1;
    }
}

// Highlight color
::selection {
    background-color: $accent;
    color: $on-accent;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.breadcrumb-item {
    a { 
        text-decoration: none;
        font-weight: 400;
        color: $accent;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        color: $on-primary;
    }
    &+ .breadcrumb-item {
        padding-left: 0.25rem;
        &::before {
            color: $on-primary;
            padding-right: 0.25rem;
        }
    }
}

.cover {
    &_primary {
        background: url("../images/abstract-shape-2.svg"), $primary;
        background-position: top center;
        background-size: cover;
        h1, p {
            color: $on-primary;
        }
    }
    &_utility {
        background: url("../images/abstract-shape-2.svg"), $primary-light;
        background-position: top center;
        background-size: cover;
    }
}

.badge {
    font-size: 100%;
    font-weight: 400;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.right-0 {
    right: 0 !important;
}

figure {
    margin-bottom: 0;
}

.fill {
    &-accent {
        fill: $accent !important;
    }
    &-primary {
        fill: $primary;
    }
    &-primary-dark {
        fill: $primary-dark;
    }
    &-black {
        fill: #000;
    }
    &-white {
        fill: #fff;
    }
}

.to-top {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
    color: #000;
}

.aos-mobile-delay-zero {
    transition-delay: 0s !important;
}

.cta {
    &-title {
        font-weight: $headings-font-weight;
    }
    &-btn {
        @media (max-width: 575.98px) {
            display: block;
            width: 100%;
        }
    }
}

.muted {
    &-dark {
        color: rgba(0,0,0,0.54);
    }
    &-light {
        color: rgba(255,255,255,0.54);
    }
}

.modal-scroll {
    max-height: calc(100vh - 100px);
    overflow: auto;
}


// SPINNER
// =============================================================================

.spinner-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1021;
}

.spinner {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    &__ball {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    &__text {
        color: #fff;
        margin-top: 4px;
        font-family: sans-serif;
        letter-spacing: 3px;
        font-size: 10px;
    }
}
