// Header
// =============================================================================

.page-header {
    position: sticky;
    top: 0;
    z-index: 1003;
    width: 100%;
    &_shadow {
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    }
    .navbar-brand {
        line-height: 1;
        img {
            max-width: 100%;
        }
    }
    .navbar-toggler {        
        color: $primary;
    }
    .nav-link {
        @include font-size(1rem);
        position: relative;
        &:hover, &:focus {
            &::before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: $primary;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .nav-cta {
        @media (max-width: 1199.98px) {
            .btn {
                display: block;
            }
            text-align: center;
            padding-top: 8px;
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
