// Hero
// =============================================================================

.hero-item {
    position: relative;
    z-index: 1002;
    color: $on-primary;
    padding-top: #{'min(12vh, 128px)'};
    padding-bottom: #{'min(calc(12vh + 64px), 192px)'};
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    &__img {
        position: absolute;
        left: 58%;
        top: 50%;
        transform: translateY(-50%);
        width: 600px;
        @media (max-width: 991.98px) {
            margin-top: 32px;
            width: 100vw;
            position: relative;
            left: 15%;
            top: 0;
            transform: translateY(0);
        }
    }
    &__btn {
        @media (max-width: 991.98px) {
            width: 100%;
        }
    }
    @media (max-width: 991.98px) {
        text-align: center;
        padding-top: #{'min(8vh, 160px)'};
        padding-bottom: #{'min(8vh, 160px)'};
        background-position: 65% 50%;
        height: 100%;
    }

}

.hero-carousel {
    touch-action: manipulation; 
    .owl-item {
        background: linear-gradient(125deg, $primary 70%, lighten($primary, 5%) 30%);
        background-position: top center;
        background-size: cover;
    }
    .owl-nav {
        @include make-container($gutter: $grid-gutter-width);
        @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
        display: flex;
        position: absolute;
        bottom: #{'min(calc(12vh + 48px), 176px)'};
        left: 50%;
        transform: translate(-50%, 100%);
        button.owl-next, button.owl-prev {
            color: $on-primary;
            border: 1px solid $on-primary;
            width: 48px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border-radius: 50%;
        }
        .owl-next {
            margin-left: 8px;
        }
    }
    .owl-dots {
        line-height: 0;
        display: flex;
        position: absolute;
        top: calc(100% - 4vh);
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0 !important;
        .owl-dot {
            transition: background-color .15s ease-in-out;
            span {
                display: inline-block;
                border-radius: 50%;
                margin: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                border: 1px solid $accent;
            }
            &.active, &:hover {
                span {
                    background-color: $accent;
                }
            }
        }
    }
}
