// Services
// =============================================================================

.media {
    &__link {
        text-decoration: none;
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}
