// Testimonials
// =============================================================================

.testimonials-carousel {
    touch-action: manipulation; 
    position: relative;
    padding-bottom: calc(2rem + 24px);
    .testimonial {
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        img {
            width: 64px;
            height: 64px;
        }
        &:not(:first-child) {
            display: none;
        }
        &__author {
            display: block;
            font-size: 80%;
            color: $primary;
        }
    }
    .owl-stage-outer {
        overflow: visible;
        .owl-stage {
            display: flex;
            .owl-item {
                opacity: 0;
                transition: opacity .15s ease-in-out;
                &.active {
                    opacity: 1;
                }
                .item {
                    height: 100%;
                }
            }
        }
    }
    .owl-dots {
        line-height: 0;
        margin-top: 2rem !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            span {
                margin: 4px;
                width: 16px;
                height: 16px;
                background: transparent;
                border: 1px solid $primary;
            }
            &.active, &:hover {
                span {
                    border: none;
                    background: $primary;
                }
            }
        }
    }
}