[emptyForm newsletterForm]
group = "Newsletter Form"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_replyto = "{{ form.email }}"
mail_template = ""
reset_form = 1
inline_errors = "disabled"
js_on_success = "const elemToHideNewsletterForm=document.querySelectorAll(\"#newsletterForm .hide-js\");elemToHideNewsletterForm.forEach(function(e){e.style.display=\"none\"});"
sanitize_data = "htmlspecialchars"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<!doctype html>
<html lang="en">
    {# HEAD #}
    {% partial 'global/head' %}
    
    <body {{ this.page.baseFileName == 'home' ? 'data-spy="scroll" data-target="#jumpLinksNavbar" data-offset="120"' : ''}}>
        {# PAGE SPINNER #}
        {% content 'page-spinner' %}
        
        {# TO TOP #}
        <button aria-label="Back to top" id="toTop" class="to-top btn"><i class="fas fa-long-arrow-alt-up"></i></button>
           
        {# HEADER #}
        {% partial 'global/header' %}
        
        {# MAIN #}
        <main>
            {% page %}
        </main>
        
        {# FOOTER #}
        {% partial 'global/footer' %}

        {# GLOBAL SCRIPTS #}
        {% partial 'global/scripts' %}

        {# SPECIFIC SCRIPTS #}
        {% scripts %}

        {# MAIN SCRIPT #}
        <script src="{{ 'assets/js/rapido.js'|theme }}"></script>
    </body>
</html>
