url = "/blog/tag/:slug/:page?"
layout = "default"
title = "Blog tag"
meta_description = "Live demo of the Rapido business theme for October CMS."

[searchPosts]
slug = "{{ :slug }}"
pageNumber = "{{ :page }}"
postsPerPage = 8
postPage = "post"
sortOrder = "published_at desc"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog-category"

[topPosts]
period = 5
category = 0
postPerPage = 4
postPage = "post"
slug = "{{ :slug }}"

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search-results.htm"

[tags]
results = 0
sortOrder = "created_at desc"
==
<?php
function onStart() {
    $imageSettings = array();
    $imageSettings['width'] = 688;
    $imageSettings['widths'] = array(538, 448, 688, 508, 382, 328);
    $imageSettings['sizes'] = '(min-width: 1200px) 538px, (min-width: 992px) 448px, (min-width: 768px) 688px, (min-width: 576px) 508px, calc(100vw - 32px)';
    
    $this["imageSettings"] = $imageSettings;
}

function onEnd()
{    
    // Optional - set the page title to the tag name
    if($this->components['searchPosts']->tag) {
        $this->page->title = 'Topic: ' . $this->components['searchPosts']->tag->name . ' posts';
    }
}
?>
==
{% set posts = searchPosts.posts %}
{% set tag = searchPosts.tag %}

{# COVER #} 
{% partial 'blog/cover' type='tag' title=tag.name lead='' %}

{# POSTS #}
<section class="space-py-4 bg-primary-light">
    <div class="container">
        <header class="mb-4">
            <h2>Total results: {{ searchPosts.posts.total }}</h2>
        </header>
        <div class="blog-grid row">
            {% for post in posts %}
                <div class="col-lg-6">
                    {% if loop.index > 4 %}
                        {% partial 'blog/post-card' article_bg_color='bg-white' loading='lazy' post=post imageSettings=imageSettings %}
                    {% else %}
                        {% partial 'blog/post-card' article_bg_color='bg-white' loading='eager' post=post imageSettings=imageSettings %}
                    {% endif %}
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-secondary" role="alert">
                        {{ blogPosts.noPostsMessage }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {# PAGINATION #}
        {% partial 'blog/pagination' mb='mb-5' blogPosts=searchPosts %}
        <div class="text-center">
            <a class="btn btn-outline-primary" href="{{ 'blog'|page({ page: '' }) }}">Back to blog overview</a>
        </div>
    </div>
</section>

<div class="space-py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-1 order-lg-0">
                {# POPULAR #}
                {% partial 'blog/popular' class="" title="Popular posts" posts=topPosts.mostVisitedPosts isPopular=true %}
            </div>
            <div class="col-lg-4 order-0 order-lg-1 pl-lg-5">
                {# SEARCH #}
                {% partial 'searchForm/default' text="Search for posts" class="mb-4" %}
                {# CATEGORIES #}
                {% partial 'blog/categories' blogCategories=blogCategories %}
                {# TAGS #}
                {% partial 'blog/tags' tags=tags class='mb-4' %}
            </div>
        </div>
    </div>
</div>

{# CTA SECONDARY #}
{% if this.theme.cta_secondary_enable == 1 %}
    {% partial 'global/cta' 
        cta_title="#{ this.theme.cta_secondary_title }"
        cta_primary_button_icon="#{ this.theme.cta_secondary_primary_button_icon }"
        cta_primary_button_label="#{ this.theme.cta_secondary_primary_button_label }"
        cta_primary_button_url="#{ this.theme.cta_secondary_primary_button_url }"
        cta_primary_button_new_tab="#{ this.theme.cta_secondary_primary_button_new_tab}"
        cta_primary_button_same_host="#{ this.theme.cta_secondary_primary_button_same_host}"
        cta_secondary_button_icon="#{ this.theme.cta_secondary_secondary_button_icon }"
        cta_secondary_button_label="#{ this.theme.cta_secondary_secondary_button_label }"
        cta_secondary_button_url="#{ this.theme.cta_secondary_secondary_button_url }"
        cta_secondary_button_new_tab="#{ this.theme.cta_secondary_secondary_button_new_tab}"
        cta_secondary_button_same_host="#{ this.theme.cta_secondary_secondary_button_same_host}"
    %}
{% endif %}

{# STYLES #}
{% put styles %}
    <link rel="stylesheet" href="{{ [
        'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css',
        'assets/vendor/aos/dist/aos.css',
        'assets/vendor/cookieconsent/build/cookieconsent.min.css',
        'assets/sass/rapido.scss'
    ]|theme }}">
{% endput %}

{# SCRIPTS #}
{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
{% endput %}