url = "/maintenance"
title = "Maintenance"
meta_description = "Live demo of the Rapido business theme for October CMS."
==
{# STYLES #}
{% put styles %}
    <link rel="stylesheet" href="{{ [
        'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css',
        'assets/vendor/aos/dist/aos.css',
        'assets/sass/rapido.scss'
    ]|theme }}">
{% endput %}

<!doctype html>
<html class="h-100" lang="en">
    {# HEAD #}
    {% partial 'global/head' %}
    
    <body>
        {# PAGE SPINNER #}
        {% content 'page-spinner' %}

        <main>
            {# STATUS COVER #}
            <div style="min-height:100vh;height:auto;" class="bg-primary-light text-center space-py-4 d-flex align-items-center">
                <div class="container max-width-800">
                    <div class="position-relative">
                        <div style="z-index: 1;" class="alert alert-primary space-py-4 corner-shape-lg elevation-1dp border-0" role="alert">
                            {% if this.theme.utility_maintenance_logo.extension == 'svg' %}
                                <img
                                    data-aos="zoom-in"
                                    data-aos-once="true"
                                    src="{{ this.theme.utility_maintenance_logo.path }}"
                                    width="248"
                                    alt="{{ this.theme.utility_maintenance_logo.description }}">
                            {% else %}
                                <img
                                    data-aos="zoom-in"
                                    data-aos-once="true"
                                    src="{{ this.theme.utility_maintenance_logo.path|resize(248, auto) }}"
                                    srcset="{{ this.theme.utility_maintenance_logo.path|resize(248, auto) }} 1x, {{ this.theme.utility_maintenance_logo.path|resize(496, auto) }} 2x"
                                    width="248"
                                    alt="{{ this.theme.utility_maintenance_logo.description }}">
                            {% endif %}
                            <h1 data-aos="fade-up" data-aos-once="true" class="alert-heading my-2">{{ this.theme.utility_maintenance_title }}</h1>
                            <p data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="lead mb-0">{{ this.theme.utility_maintenance_lead }}</p>
                            <hr data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class='my-4'>
                            <div data-aos="fade-up" data-aos-delay="200" data-aos-once="true" data-aos-offset="0">
                                {# PRIMARY BUTTON #}
                                {% if this.theme.utility_maintenance_primary_button_label %}
                                    <a
                                        {{ this.theme.utility_maintenance_primary_button_new_tab ? 'target="_blank"' : '' }}
                                        {{ this.theme.utility_maintenance_primary_button_same_host ? '' : 'rel="noopener noreferrer"' }} 
                                        href="{{ this.theme.utility_maintenance_primary_button_url }}"
                                        class="cta-btn btn btn-primary btn-lg mx-1 mb-2">
                                            {{ this.theme.utility_maintenance_primary_button_icon ? this.theme.utility_maintenance_primary_button_icon|raw : '' }}
                                            {{ this.theme.utility_maintenance_primary_button_label }}
                                    </a>
                                {% endif %}
                                {# SECONDARY BUTTON #}
                                {% if this.theme.utility_maintenance_secondary_button_label %}
                                    <a
                                        {{ this.theme.utility_maintenance_secondary_button_new_tab ? 'target="_blank"' : '' }}
                                        {{ this.theme.utility_maintenance_secondary_button_same_host ? '' : 'rel="noopener noreferrer"' }} 
                                        href="{{ this.theme.utility_maintenance_secondary_button_url }}"
                                        class="cta-btn btn btn-outline-primary btn-lg mx-1 mb-2">
                                            {{ this.theme.utility_maintenance_secondary_button_icon ? this.theme.utility_maintenance_secondary_button_icon|raw : '' }}
                                            {{ this.theme.utility_maintenance_secondary_button_label }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <figure class="misc-figure">
                            {% partial 'vectors/dots' %}
                        </figure>
                    </div>
                </div>
            </div>
        </main>
        
        {# SCRIPTS #}
        <script type="text/javascript" src="{{ [
            'assets/vendor/jquery/dist/jquery.min.js',
            'assets/vendor/aos/dist/aos.js',
            'assets/js/rapido.js'
        ]|theme }}"></script>
    </body>
</html>