url = "/privacy-policy"
layout = "default"
title = "Privacy Policy"
meta_description = "Live demo of the Rapido business theme for October CMS."
==
{# SECONDARY COVER #}
{% partial 'utility/secondary-cover' title="Privacy Policy" %}

<section class="space-py-4 max-width-800 mx-auto">
    <div class="container overflow-hidden">
        {# CONTENT #}
        {% if this.theme.utility_privacy_text|length > 2 %}
            {{ this.theme.utility_privacy_text|raw }}
        {% else %}
            {% content "privacy-policy.htm" siteName="#{ this.theme.global_site_name }" baseUrl="#{url('/')}" email="#{ this.theme.global_email }" %}
        {% endif %}
    </div>
</section>

{# CTA SECONDARY #}
{% if this.theme.cta_secondary_enable == 1 %}
    {% partial 'global/cta' 
        cta_title="#{ this.theme.cta_secondary_title }"
        cta_primary_button_icon="#{ this.theme.cta_secondary_primary_button_icon }"
        cta_primary_button_label="#{ this.theme.cta_secondary_primary_button_label }"
        cta_primary_button_url="#{ this.theme.cta_secondary_primary_button_url }"
        cta_primary_button_new_tab="#{ this.theme.cta_secondary_primary_button_new_tab}"
        cta_primary_button_same_host="#{ this.theme.cta_secondary_primary_button_same_host}"
        cta_secondary_button_icon="#{ this.theme.cta_secondary_secondary_button_icon }"
        cta_secondary_button_label="#{ this.theme.cta_secondary_secondary_button_label }"
        cta_secondary_button_url="#{ this.theme.cta_secondary_secondary_button_url }"
        cta_secondary_button_new_tab="#{ this.theme.cta_secondary_secondary_button_new_tab}"
        cta_secondary_button_same_host="#{ this.theme.cta_secondary_secondary_button_same_host}"
    %}
{% endif %}

{# STYLES #}
{% put styles %}
    <link rel="stylesheet" href="{{ [
        'assets/vendor/@fortawesome/fontawesome-free/css/all.min.css',
        'assets/vendor/aos/dist/aos.css',
        'assets/vendor/cookieconsent/build/cookieconsent.min.css',
        'assets/sass/rapido.scss'
    ]|theme }}">
{% endput %}

{# SCRIPTS #}
{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/vendor/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>
{% endput %}