<div class="d-flex flex-column align-items-center">
    <div data-aos="zoom-in" data-aos-once="true">
        <div class="text-center h3 font-heavy font-heading mb-3">Share this post</div>
        <ul class="list-inline mb-5">
            <li class="list-inline-item mr-0">
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    class="single-post__share-link corner-shape-sm"
                    href="https://www.facebook.com/sharer/sharer.php?caption={{ post.title|url_encode }}&u={{ ''|page }}"
                    aria-label="Share on Facebook">
                        <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    class="single-post__share-link corner-shape-sm"
                    href="https://twitter.com/intent/tweet?text={{ post.title|url_encode }}&url={{ ''|page }}"
                    aria-label="Share on Twitter">
                        <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    class="single-post__share-link corner-shape-sm"
                    href="https://www.linkedin.com/shareArticle?mini=true&url={{ ''|page }}&title={{ post.title|url_encode }}"
                    aria-label="Share on LinkedIn">
                        <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a
                    target="_blank"
                    class="single-post__share-link corner-shape-sm"
                    href="mailto:?subject={{post.title|url_encode}}&body={{'Check out this article on '|url_encode}}{{this.theme.global_site_name|url_encode}}:%0A%0A{{post.title|url_encode}}%0A%0A{{post.summary|url_encode}}%0A%0A{{''|page}}"
                    aria-label="Share with Email">
                        <i class="fas fa-envelope"></i>
                </a>
            </li>
            <li class="list-inline-item mr-0">
                <a 
                    tabindex="0"
                    id="copyLink"
                    class="single-post__share-link corner-shape-sm"
                    href="javascript:;"
                    role="button"
                    aria-label="Copy link"
                    data-clipboard-text="{{''|page}}">
                        <i class="fas fa-copy"></i>
                </a>
            </li>
        </ul>
    </div>
    <a class="btn btn-outline-primary" href="{{ 'blog'|page({ page: '' }) }}">Back to blog overview</a>
</div>