description = "Blog"
==
<?php
function onStart() {
    $imageSettings = array();
    $imageSettings['src'] = array(640, 359);
    $imageSettings['srcset'] = array(514, 424, 640, 460, 495);
    $imageSettings['sizes'] = '(min-width: 1200px) 514px, (min-width: 992px) 424px, (min-width: 768px) 640px, (min-width: 576px) 460px, 495px';
    
    $this["imageSettings"] = $imageSettings;
}
?>
==
{% set count = 0 %}

{# BLOG #}
<section id="blog" class="space-py-8 bg-primary-light overflow-x-hidden">
    <div class="container position-relative">
        <header class="space-mb-3 max-width-800">
            <div class="section__preheading">{{ this.theme.blog_pretitle }}</div>
            <h2 class="mb-0">{{ this.theme.blog_title }}</h2>
        </header>
        <div id="blogCarousel" class="blog-carousel owl-carousel owl-theme">
            {% for post in posts %}
                {% set count = count + 1 %}
                <div class="item">
                    {% partial 'blog/post-card' post=post imageSettings=imageSettings %}
                </div>
            {% endfor %}
        </div>
        <a href="{{ 'blog' | page }}" style="margin-top:2rem;" class="btn btn-link pl-0">View all posts</a>
    </div>
</section>