{% set numberOfActiveSlides = 0 %}

{% for item in this.theme.hero_repeater %}
    {% if item.enable %}
        {% set numberOfActiveSlides = numberOfActiveSlides + 1 %}
    {% endif %}
{% endfor %}

{# HERO #}
<section>
    <div {% if numberOfActiveSlides > 1 %}id="heroCarousel"{% endif %} class="hero-carousel {% if numberOfActiveSlides > 1 %}owl-carousel{% endif %}">
        {% if numberOfActiveSlides == 1 %}<div class="owl-item">{% endif %}
            {% for item in this.theme.hero_repeater %}
                {% if item.enable %}
                	<article style="{% if numberOfActiveSlides == 1 %}transform: translateY(0);{% endif %}" class="item hero-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h1
                                        class="mb-2"
                                        {% if loop.index == 1 %}
                                            data-aos="fade-up"
                                            data-aos-once="true"
                                            data-aos-offset="-300"
                                        {% endif %}>
                                            {{ item.title|nl2br }}
                                    </h1>
                                    <p
                                        class="lead mb-4"
                                        {% if loop.index == 1 %}
                                            data-aos="fade-up"
                                            data-aos-delay="100"
                                            data-aos-once="true"
                                            data-aos-offset="-300"
                                        {% endif %}>
                                            {{ item.lead|nl2br }}
                                    </p>
                                    <div
                                        class="d-flex flex-column flex-lg-row"
                                        {% if loop.index == 1 %}
                                            data-aos="fade-up"
                                            data-aos-delay="200"
                                            data-aos-once="true"
                                            data-aos-offset="-300"
                                        {% endif %}>
        		                            {# PRIMARY BUTTON #}
    		                                <a
                                                {{ item.primary_button_new_tab ? 'target="_blank"' : '' }}
                                                {{ item.primary_button_same_host ? '' : 'rel="noopener noreferrer"' }} 
                                                href="{{ item.primary_button_url }}"
                                                class="hero-item__btn btn btn-lg btn-accent mr-2 mb-2">
                                                    {{ item.primary_button_icon ? item.primary_button_icon|raw : '' }} {{ item.primary_button_label }}
                                            </a>
        		                            {# SECONDARY BUTTON #}
        		                            {% if item.secondary_button_label %}
        		                                <a
                                                    {{ item.secondary_button_new_tab ? 'target="_blank"' : '' }}
                                                    {{ item.secondary_button_same_host ? '' : 'rel="noopener noreferrer"' }} 
                                                    href="{{ item.secondary_button_url }}"
                                                    class="hero-item__btn btn btn-lg btn-outline-accent mb-2">
                                                        {{ item.secondary_button_icon ? item.secondary_button_icon|raw : '' }} {{ item.secondary_button_label }}
                                                </a>
        		                            {% endif %}
    		                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="hero-item__img">
                            {% if item.image|split('.')|last == 'svg' %}
                                <img 
                                    {% if loop.index == 1 %}
                                        data-aos="fade-left"
                                        data-aos-once="true"
                                        data-aos-offset="-300"
                                    {% endif %}
                                    width="3"
                                    height="2"
                                    style="width:100%;height:auto;"
                                    class="corner-shape-lg"
                                    src="{{ item.image|media }}"
                                    alt="{{ item.image_alt }}">
                            {% else %}
                                <img
                                    {% if loop.index == 1 %}
                                        data-aos="fade-left"
                                        data-aos-once="true"
                                        data-aos-offset="-300"
                                    {% endif %}
                                    width="3"
                                    height="2"
                                    style="width:100%;height:auto;"
                                    class="corner-shape-lg"
                                    src="{{ item.image|media|resize(991, 661) }}"
                                    srcset="{{ item.image|media|resize(600, 400) }} 600w,
                                            {{ item.image|media|resize(1200, 800) }} 1200w,
                                            
                                            {{ item.image|media|resize(991, 661) }} 991w,
                                            
                                            {{ item.image|media|resize(768, 512) }} 768w,
                                            {{ item.image|media|resize(1536, 1024) }} 1536w,

                                            {{ item.image|media|resize(576, 384) }} 576w,
                                            {{ item.image|media|resize(1152, 768) }} 1152w,
                                            
                                            {{ item.image|media|resize(414, 276) }} 414w,
                                            {{ item.image|media|resize(828, 552) }} 828w,

                                            {{ item.image|media|resize(360, 240) }} 360w,
                                            {{ item.image|media|resize(720, 480) }} 720w"
                                    sizes="(min-width: 992px) 600px, 100vw"
                                    alt="{{ item.image_alt }}">
                            {% endif %}
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        {% if numberOfActiveSlides == 1 %}</div>{% endif %}
    </div>
</section>