{# RETAIL #}
<section id="retail" class="space-py-8 overflow-hidden {{ this.theme.retail_background_color ? 'bg-primary-light' : 'bg-white' }}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <header class="mb-3">
                    <div class="section__preheading">{{ this.theme.retail_pretitle }}</div>
                    <h2 class="mb-0">{{ this.theme.retail_title }}</h2>
                </header>
                <div class="pr-0 pr-lg-3 h-100 overflow-hidden">
                    {{ this.theme.retail_text|raw }}
                </div>
            </div>
            <div class="col-lg-5 mt-2 mt-lg-0">
                <div class="position-relative">
                    <div data-aos="fade-up" data-aos-once="true" class="shop__card corner-shape-lg elevation-1dp position-relative space-p-4 h-100 d-flex flex-column justify-content-center {{ this.theme.retail_background_color ? 'bg-white' : 'bg-primary-light' }}">
                        <ul class="list-unstyled mb-0">
                            {% if this.theme.global_address %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-map-marker-alt"></i>
                                    <div class="ml-2">
                                        <address class="mb-0">
                                            {{ this.theme.global_address|nl2br }}
                                        </address>
                                    </div>
                                </li>
                            {% endif %}
                            {% if this.theme.global_working_hours %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-clock"></i>
                                    <div class="ml-2">
                                        {{ this.theme.global_working_hours|nl2br }}
                                    </div>
                                </li>
                            {% endif %}
                            {% if this.theme.global_map_search_parameters %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-directions"></i>
                                    <div class="ml-2 text-truncate">
                                        <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/maps/search/?api=1&amp;query={{ this.theme.global_map_search_parameters }}">
                                            Get Directions
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if this.theme.global_phone %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-phone-alt"></i>
                                    <div class="ml-2 text-truncate">
                                        <a href="tel:{{ this.theme.global_phone }}">{{ this.theme.global_phone }}</a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if this.theme.global_mobile %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-mobile-alt"></i>
                                    <div class="ml-2 text-truncate">
                                        <a href="tel:{{ this.theme.global_mobile }}">{{ this.theme.global_mobile }}</a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if this.theme.global_fax %}
                                <li class="d-flex mb-2">
                                    <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-fax"></i>
                                    <div class="ml-2 text-truncate">
                                        <a href="tel:{{ this.theme.global_fax }}">{{ this.theme.global_fax }}</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="d-flex mb-2">
                                <i style="line-height:1.6;" class="text-primary flex-shrink-0 fa-fw fas fa-envelope"></i>
                                <div class="ml-2 text-truncate">
                                    <a href="mailto:{{ this.theme.global_email }}">
                                        {{ this.theme.global_email }}
                                    </a>
                                </div>
                            </li>
                        </ul>
                        {# RETAIL BUTTON #}
                        {% if this.theme.retail_button_label %}
                            <a
                                {{ this.theme.retail_button_new_tab ? 'target="_blank"' : '' }}
                                {{ this.theme.retail_button_same_host ? '' : 'rel="noopener noreferrer"' }} 
                                href="{{ this.theme.retail_button_url }}"
                                class="mt-4 btn btn-primary">
                                    {{ this.theme.retail_button_icon ? this.theme.retail_button_icon|raw : '' }} {{ this.theme.retail_button_label }}
                            </a>
                        {% endif %}
                    </div>
                    <figure class="shop-figure">
                        {% partial 'vectors/dots' %}
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>